<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ZephroTech | Home</title>
</head>
<body>

    <section class="home">
        <div class="home-content">
            <h3>Hello <span>World,</span></h3>
            <h1>I'm <span>Eljan</span></h1>
            <h3>A <span class="typewriter"></span></h3>
            <p>A college student at Holy Angel University and an aspiring Web and Mobile Developer. Currently seeking clients or projects to enhance my skills and gain practical experience in development. I am passionate about creating innovative solutions and eager to learn and grow in the field. Looking forward to connecting and collaborating on exciting opportunities! </p>
            <div class="social-media">
                <a href="https://www.facebook.com/itsyooboiii.ej/"><i class='bx bxl-facebook'></i></a>
                <a href="https://github.com/eljan123"><i class='bx bxl-github'></i></a>
                <a href="https://www.linkedin.com/in/eljan-pamintuan-6149641a0/"><i class='bx bxl-linkedin'></i></a>
            </div>
            <a href="assets/documents/PAMINTUAN_resume.pdf" target="_blank" rel="noopener noreferrer" class="btn">Download RESUME</a>
        </div>
        <div class="home-img">
            <img src="assets/ZTLogo.png" alt="ZephroTech Logo">
        </div>
    </section>
</body>
</html>
