<header class="main-header" [class.hidden]="isHeaderHidden">
    <a routerLink="" class="logo">ZephroTech</a>
    <div class="hamburger">
        <button *ngIf="showScrollToTop" class="scroll-to-top" [class.show]="showScrollToTop" (click)="scrollToTop()">
            <i class='bx bx-chevron-up'></i>
        </button>
        <i class='bx bx-menu'></i> 
    </div>
    <nav class="navbar">
        <a routerLink="">Home</a>
        <a routerLink="about">About</a>
        <a routerLink="skills">Skills</a>
        <a routerLink="portfolio">Projects
        </a>
        <a routerLink="contact">Contact</a>
    </nav>
</header>

<router-outlet />
