@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$dark-blue: rgb(8, 21, 55);
$header-bg: rgb(8, 21, 55);
$header-color: #fff;
$btn-bg: rgb(255, 94, 58);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: $dark-blue;
    color: #fff;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    

    .hamburger {
        display: block; 
    }

    .logo {
        font-size: 25px;
        color: #fff;
        text-decoration: none;
        font-weight: 600;
        cursor: default;
        animation: fadeInLogo 1.5s ease-in-out;
    }

    .navbar {
        display: flex; 
        width: 47%;
        animation: slideInNavbar 1.5s ease-in-out;
        justify-content: center;
        align-items: center;

        a {
            font-size: 18px;
            color: #fff;
            text-decoration: none;
            font-weight: 500;
            margin-left: 50px;
            transition: 0.3s;

            &:hover {
                color: #0ef;
            }
        }
    }
}
header.hidden{
    transform: translateY(-100%);
}

.main-header.hidden {
    transform: translateY(-100%); /* Slide the header out of view */
}

.scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    cursor: pointer;
    z-index: 1000;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  
    // Initially hidden
    opacity: 0;
    visibility: hidden;
  
    &.visible {
      opacity: 1;
      visibility: visible;
    }
  
    &:hover {
      background-color: #555;
      transform: translateY(-5px);
    }
  }
  

.scroll-to-top.show {
    display: block; /* Show when scrolling */
}

.home {
    position: flex;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 70px 10% 0;

    .home-content {
        max-width: 600px;
        animation: fadeInHomeContent 1.5s ease-in-out;

        h1 {
            font-size: 56px;
            font-weight: 700;
            margin: -3px 0;
            animation: slideInHeading 1.5s ease-in-out;

            span {
                color: #0ef;
            }
        }

        h3 {
            font-size: 28px;
            font-weight: 600;
            animation: fadeInHeading 2s ease-in-out;

            span {
                color: #0ef;
            }

            &:nth-of-type(2) {
                margin-bottom: 30px;
            }
        }

        p {
            font-size: 16px;
        }
    }

    .home-img {
        img {
            max-width: 450px;
            margin-right: -20px;
        }
    }
}

.social-media {
    a {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        background: transparent;
        border: 2px solid rgb(34, 64, 66);
        border-radius: 50px;
        font-size: 20px;
        color: darkcyan;
        text-decoration: none;
        margin: 30px 15px 30px 0;
        transition: 0.5s ease;

        &:hover {
            background: #0ef;
            color: #1f242d;
            box-shadow: 0 0 20px #0ef;
        }
    }
}

.btn {
    display: inline-block;
    padding: 12px 30px;
    background: #0ef;
    border-radius: 40px;
    box-shadow: 0 0 10px #0ef;
    font-size: 16px;
    color: #1f242d;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
}

/* Keyframes */
@keyframes fadeInLogo {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideInNavbar {
    0% {
        opacity: 0;
        transform: translateX(50px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeInHomeContent {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes slideInHeading {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInHeading {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.typewriter {
    display: inline-block;
    border-right: 2px solid #fff;
    padding-right: 5px;
    animation: blink 0.7s step-end infinite;
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}

/* Responsive Design */

@mixin responsive($breakpoint) {
    @media screen and (max-width: $breakpoint) {
        @content;
    }
}

@include responsive(768px) {
    header {
        padding: 15px 5%;
        flex-direction: row; 
        justify-content: space-between;
        align-items: center;

        .navbar {
            display: none; 
            flex-direction: column; 
            align-items: flex-start;
            position: absolute;
            top: 100%; 
            left: 0;
            width: 50%;
            background: #1f242d;
            padding: 15px 5%;
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
            gap: 10px; 
            z-index: 10; 
            animation: slideInNavbar 0s ease-in-out;

            &.show {
                display: flex; 
            }

            a {
                margin-left: 0; 
                width: 100%; 
                text-align: left;
                padding: 10px 0; 
                font-size: 16px; 
                color: #fff; 
                text-decoration: none; 
                transition: background 0.3s; 

                &:hover {
                    background: #333; 
                }
            }
        }

        .hamburger {
            display: block;
            font-size: 25px;
            color: #fff;
            cursor: pointer;
            z-index: 20; 
        }
    }

    .home {
        padding: 100px 5% 0; 
        flex-direction: column-reverse; 
        align-items: center;

        .home-content {
            text-align: center;
            margin-top: 20px;

            h1 {
                font-size: 36px; 
            }

            h3 {
                font-size: 20px; 
            }
        }

        .home-img {
            img {
                max-width: 300px; 
            }
        }
    }

    .social-media {
        a {
            margin: 20px 10px 0; 
            width: 40px;
            height: 40px;
            font-size: 18px; 
        }
    }
}

@include responsive(480px) {
    header {
        padding: 10px 5%;
        align-items: center; 

        .logo {
            font-size: 18px; 
        }

        .navbar {
            gap: 8px; 
            display: none; 
            width: 50%;
            animation: slideInNavbar 0s ease-in-out;

            &.show {
                display: flex; 
            }

            a {
                font-size: 14px; 
                padding: 10px 0; 
            }
        }
    }

    .home {
        padding: 80px 5% 0; 
        flex-direction: column-reverse; 
        align-items: center;

        .home-content {
            h1 {
                font-size: 28px; 
            }

            h3 {
                font-size: 16px; 
            }

            p {
                font-size: 14px; 
            }
        }

        .home-img {
            img {
                max-width: 220px; 
            }
        }
    }

    .btn {
        padding: 10px 20px;
        margin-top: 10%;
        font-size: 14px; 
    }

    .social-media {
        a {
            width: 35px;
            height: 35px;
            font-size: 16px; 
        }
    }
}

@include responsive(769px) {
    .hamburger {
        display: none; 
    }

    .navbar {
        display: flex; 
        gap: 20px; 
        justify-content: center; 

        a {
            font-size: 16px;
            color: #fff;
            text-decoration: none; 
            padding: 10px 20px; 
            transition: background 0.3s; 

            &:hover {
                background: #333; 
            }
        }
    }
}
